html {
  background-color: rgb(10,10,10);
}
html body {
	padding: 10px 10px 10px 10px;
}

body {
	background-color: rgb(255,255,255);
	margin: 100px 100px 100px 100px;
}
header {
	text-align: center;
}
footer {
	
}