

form { background-color:wheat;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px; 
	margin-left: 10px;
	margin-top: 50px}
label { float: left;
	 width: 15em;
	 clear: left;
	 text-align: left;
	 padding-right: 0;
	 margin-top: 25px; 
	 font-size: 20px;}
input, textarea { margin-top: 2em;
	              display: block; }


ul#horizontal-list {	
  list-style: none;
  margin: 0;
  color:black;
  font-weight: bold; 
  Font-size: 1.2em;
}

ul#horizontal-list li {display: inline;
						padding-right: 5em;}

.accountlist {
	margin-top: 50px; 
	margin-right: auto;
	margin-bottom: auto; 
	margin-left: auto;
}